<div class="container">
    <div class="row col text-center">
        <img src="img/rihapfirdaus.jpg" alt="Muhammad Rihap Firdaus" class="img-thumbnail rounded-circle" width="200">
        <h1 class="display-4">Muhammad Rihap Firdaus</h1>
        <p class="lead">Student | Fullstack Developer</p>
    </div>
</div>