<%- include('layouts/header') %>


<%- include('layouts/nav') %>

<div class="container">
    <div class="row">
        <div class="col text-center"><img src="rihapfirdaus.jpg" alt="Muhammad Rihap Firdaus"></div>
    </div>
</div>


<%- include('layouts/footer') %>